.SearchBar1{
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #4f4f4f;
    border-radius: 3px;
    border-bottom: 2px solid #ff002a;
}

.SearchInput{
    width: 85%;
    display: flex;
    padding: 10px;
    border: none;
    background: #4f4f4f;
    margin: 5px;
    outline: none;
    color: white;
}

.SearchInput:focus{
    border: none;
    outline: none;
}

.IconSearch{
    width: 10%;
    display: flex;
    color: white;
    margin-right: 10px;
}