.ScrollYX{
    display: flex;
    position: fixed;
    width: 160px;
    height: 80px;
    left: 200px;
    bottom: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}